/* GENERAL */
body {
  background-color: #fdfdfd;
  color: #0d0d0d;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.headerLogo {
  padding: 8px;
  border: 2px solid black;
  border-radius: 50%;
}

.navigationList {
  display: flex;
  justify-content: end;
  gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* MAIN */
section {
  height: 100vh;
}

.mainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgb(175, 205, 249);
  border-style: none;
  transition-duration: 0.1s;
}

button:hover {
  background-color: rgb(132, 163, 229);
}

button:active {
  background-color: #ffffff;
}
  
.toDoApp {
max-height: 500px;
max-width: 500px;
padding: 10px;
}


/* FOOTER */
footer {
  display: flex;
  justify-content: center;
}
